    
<!-- footer start -->

<footer>
    <div  class="pt-4 pb-4 mb-4 bg-light border-top border-bottom">
        <section class="container">
            <div class="row">
              <div class="col-12 col-md">
                %globals_site_metadata_design.logo^as_asset:asset_contents_raw%
                %globals_site_name%
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Cool stuff</a></li>
                  <li><a class="text-muted" href="#">Random feature</a></li>
                  <li><a class="text-muted" href="#">Team feature</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Another one</a></li>
                  <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
        </section>
    </div>
    

    <div class="container mb-5">
        <div class="text-center">
            <p class="text-muted small">&copy; <a href="https://www.squiz.net/" target="_blank">Squiz</a> %globals_date_Y% | Website Powered by <a href="http://www.squiz.net/matrix" target="_blank">Squiz Matrix</a></p>
        </div>
    </div>
</footer>
    
<!-- footer end -->
    
